<!-- отображение содержимого статьи -->
{% extends "blog/base.html" %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<p class="date">Published {{ post.publish }} by {{ post.author }}</p>
{{ post.body|linebreaks }}

<p>
    <a href="{% url 'blog:post_share' post.id %}">Поделиться</a>
</p>

<!-- Мы используем ORM Django в шаблоне, выполняя comments.count().
    Обратите внимание, что для вызова функций в шаблонах не нужно указывать круглые скобки.
    Тег %with% позволяет назначить переменной новое имя,
        которое можно использовать внутри блока до ближайшего тега %endwith% -->
{% with comments.count as total_comments %}
    <!-- pluralize для отображения слова comment во множественном числе
        Фильтр pluralize возвращает строку с постфиксом «s», если значение боль-ше, чем 1 -->
    <h2>{{total_comments}} comment {{total_comments|pluralize}}</h2>
{% endwith %}

{% for comment in comments %}
    <div class="comment">
        <p class="info">
            <!-- Каждый комментарий пронумерован с помощью переменной {{forloop.counter}},
                    которая содержит номер текущей итерации цикла -->
            Comment {{forloop.counter}} by {{comment.name}}
            {{comment.created}}
        </p>
        {{comment.body|linebreaks}}
    </div>
    {% empty %}
        <p>Ваш кооментарий будет первым.</p>
{% endfor %}

{% if new_comment %}
    <h2>Ваш комментарий был добавлен</h2>
{% else %}
    <h2>Добавить комментарий</h2>
    <form action="." method="post">
        {{comment_form.as_p}}
        {% csrf_token %}
        <p><input type="submit" value="Комментировать"></p>
    </form>
{% endif %}

{% endblock %}